# Problem Statement
***We need to predict any movie box office collection using machine learning algorithm also we need to do proper feature engineering and selection also handle outliers and null values.***

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import datawrang as dw

In [2]:
df1 = pd.read_csv('bollywood_box_clean.csv')
df2 = pd.read_csv('movie_metadata.csv')

In [3]:
df1.head()

,movie_name,movie_opening,movie_weekend,movie_firstweek,movie_total,movie_total_worldwide,movie_genre,movie_director,release_date,release_day,release_month,release_year,runtime,producer,banner,actors,movie_details
0,Angrezi Medium,4.03,9.03,9.36,9.36,13.50,"Drama, Comedy",Homi Adajania,"13 March, 2020",13,Mar,2020,145,"Dinesh Vijan , Jyoti Deshpande","Maddock Films, Jio Studios","Irrfan Khan , Radhika Madan, Kareena Kapoor",When his daughter decides to further her studi...
1,Baaghi 3,17.50,53.83,90.67,93.37,137.00,Action,Ahmed Khan,"06 March, 2020",6,Mar,2020,147,Sajid Nadiadwala,"Nadiadwala Grandson Entertainment, Fox Star S...","Tiger Shroff , Shraddha Kapoor, Riteish Deshmukh",A man embarks on a bloody rampage to save his ...
2,Thappad,3.07,14.66,22.79,30.61,44.50,"Drama, Social",Anubhav Sinha,"28 February, 2020",28,Feb,2020,142,"Bhushan Kumar , Krishan Kumar, Anubhav Sinha","Benaras Media Works, T-Series Super Cassettes...","Taapsee Pannu , Pavail Gulati, Dia Mirza",Thappad is a story of Amrita whose seemingly p...
3,Shubh Mangal Zyada Saavdhan,9.55,32.66,44.84,62.78,86.39,"Comedy, Romance",Hitesh Kewalya,"21 February, 2020",21,Feb,2020,120,"Aanand L Rai , Himanshu Sharma, Bhushan Kumar","Colour Yellow Productions Pvt Ltd, T-Series S...","Ayushman Khurana , Jitendra Kumar, Gajraj Rao",The road to achieving a happy ending is a litt...
4,Bhoot: Part One - The Haunted Ship,5.10,16.36,24.18,31.97,40.94,Horror,Bhanu Pratap Singh,"21 February, 2020",21,Feb,2020,117,"Hiroo Johar , Karan Johar, Apoorva Mehta","Dharma Productions, Zee Studios","Vicky Kaushal , Bhumi Pednekar, Ashutosh Rana",A couple is trapped on an abandoned ship lying...

In [4]:
df2.head() #This is our hollywood dataset

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [5]:
print(df1.shape)
print(df2.shape)

(130, 17)
(5043, 28)

In [6]:
df2.country.value_counts()

USA              3807
UK                448
France            154
Canada            126
Germany            97
                 ...
Slovakia            1
Chile               1
Cambodia            1
Official site       1
Philippines         1
Name: country, Length: 65, dtype: int64

In [7]:
df1.columns

Index(['movie_name', 'movie_opening', 'movie_weekend', 'movie_firstweek',
       'movie_total', 'movie_total_worldwide', 'movie_genre', 'movie_director',
       'release_date', 'release_day', 'release_month', 'release_year',
       'runtime', 'producer', 'banner', 'actors', 'movie_details'],
      dtype='object')

In [8]:
df1.drop(['movie_name', 'movie_opening', 'movie_weekend', 'movie_firstweek',
       'movie_total','movie_details','release_date'], axis = 1, inplace = True)

In [9]:
df1.head() #dropped columns

,movie_total_worldwide,movie_genre,movie_director,release_day,release_month,release_year,runtime,producer,banner,actors
0,13.50,"Drama, Comedy",Homi Adajania,13,Mar,2020,145,"Dinesh Vijan , Jyoti Deshpande","Maddock Films, Jio Studios","Irrfan Khan , Radhika Madan, Kareena Kapoor"
1,137.00,Action,Ahmed Khan,6,Mar,2020,147,Sajid Nadiadwala,"Nadiadwala Grandson Entertainment, Fox Star S...","Tiger Shroff , Shraddha Kapoor, Riteish Deshmukh"
2,44.50,"Drama, Social",Anubhav Sinha,28,Feb,2020,142,"Bhushan Kumar , Krishan Kumar, Anubhav Sinha","Benaras Media Works, T-Series Super Cassettes...","Taapsee Pannu , Pavail Gulati, Dia Mirza"
3,86.39,"Comedy, Romance",Hitesh Kewalya,21,Feb,2020,120,"Aanand L Rai , Himanshu Sharma, Bhushan Kumar","Colour Yellow Productions Pvt Ltd, T-Series S...","Ayushman Khurana , Jitendra Kumar, Gajraj Rao"
4,40.94,Horror,Bhanu Pratap Singh,21,Feb,2020,117,"Hiroo Johar , Karan Johar, Apoorva Mehta","Dharma Productions, Zee Studios","Vicky Kaushal , Bhumi Pednekar, Ashutosh Rana"

In [10]:
df2.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [11]:
df2.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [12]:
df2.drop(['color', 'num_critic_for_reviews','director_facebook_likes','actor_3_facebook_likes','actor_1_facebook_likes','movie_title', 'num_voted_users', 'cast_total_facebook_likes','facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews','content_rating', 'budget', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],axis = 1, inplace = True) #dropping all other features.

In [13]:
df2.head()

,director_name,duration,actor_2_name,gross,genres,actor_1_name,actor_3_name,language,country,title_year
0,James Cameron,178.0,Joel David Moore,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Wes Studi,English,USA,2009.0
1,Gore Verbinski,169.0,Orlando Bloom,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Jack Davenport,English,USA,2007.0
2,Sam Mendes,148.0,Rory Kinnear,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Stephanie Sigman,English,UK,2015.0
3,Christopher Nolan,164.0,Christian Bale,448130642.0,Action|Thriller,Tom Hardy,Joseph Gordon-Levitt,English,USA,2012.0
4,Doug Walker,NaN,Rob Walker,NaN,Documentary,Doug Walker,NaN,NaN,NaN,NaN

In [14]:
df1.drop('producer', axis = 1 , inplace = True)

In [15]:
df1.head()

,movie_total_worldwide,movie_genre,movie_director,release_day,release_month,release_year,runtime,banner,actors
0,13.50,"Drama, Comedy",Homi Adajania,13,Mar,2020,145,"Maddock Films, Jio Studios","Irrfan Khan , Radhika Madan, Kareena Kapoor"
1,137.00,Action,Ahmed Khan,6,Mar,2020,147,"Nadiadwala Grandson Entertainment, Fox Star S...","Tiger Shroff , Shraddha Kapoor, Riteish Deshmukh"
2,44.50,"Drama, Social",Anubhav Sinha,28,Feb,2020,142,"Benaras Media Works, T-Series Super Cassettes...","Taapsee Pannu , Pavail Gulati, Dia Mirza"
3,86.39,"Comedy, Romance",Hitesh Kewalya,21,Feb,2020,120,"Colour Yellow Productions Pvt Ltd, T-Series S...","Ayushman Khurana , Jitendra Kumar, Gajraj Rao"
4,40.94,Horror,Bhanu Pratap Singh,21,Feb,2020,117,"Dharma Productions, Zee Studios","Vicky Kaushal , Bhumi Pednekar, Ashutosh Rana"

In [16]:
df2.head()

,director_name,duration,actor_2_name,gross,genres,actor_1_name,actor_3_name,language,country,title_year
0,James Cameron,178.0,Joel David Moore,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Wes Studi,English,USA,2009.0
1,Gore Verbinski,169.0,Orlando Bloom,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Jack Davenport,English,USA,2007.0
2,Sam Mendes,148.0,Rory Kinnear,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Stephanie Sigman,English,UK,2015.0
3,Christopher Nolan,164.0,Christian Bale,448130642.0,Action|Thriller,Tom Hardy,Joseph Gordon-Levitt,English,USA,2012.0
4,Doug Walker,NaN,Rob Walker,NaN,Documentary,Doug Walker,NaN,NaN,NaN,NaN

In [17]:
df2.rename(columns = {'director_name': 'Director','gross':'Boxoffice','title_year': 'year'}, inplace = True)

In [18]:
df1.rename(columns = {'movie_total_worldwide': 'Boxoffice','movie_genre': 'genres', 'runtime': 'duration'}, inplace = True)

In [19]:
df1.rename(columns = {'movie_director': 'Director','release_year': 'year'}, inplace = True)

In [20]:
df1.head()

,Boxoffice,genres,Director,release_day,release_month,year,duration,banner,actors
0,13.50,"Drama, Comedy",Homi Adajania,13,Mar,2020,145,"Maddock Films, Jio Studios","Irrfan Khan , Radhika Madan, Kareena Kapoor"
1,137.00,Action,Ahmed Khan,6,Mar,2020,147,"Nadiadwala Grandson Entertainment, Fox Star S...","Tiger Shroff , Shraddha Kapoor, Riteish Deshmukh"
2,44.50,"Drama, Social",Anubhav Sinha,28,Feb,2020,142,"Benaras Media Works, T-Series Super Cassettes...","Taapsee Pannu , Pavail Gulati, Dia Mirza"
3,86.39,"Comedy, Romance",Hitesh Kewalya,21,Feb,2020,120,"Colour Yellow Productions Pvt Ltd, T-Series S...","Ayushman Khurana , Jitendra Kumar, Gajraj Rao"
4,40.94,Horror,Bhanu Pratap Singh,21,Feb,2020,117,"Dharma Productions, Zee Studios","Vicky Kaushal , Bhumi Pednekar, Ashutosh Rana"

In [21]:
df2.head()

,Director,duration,actor_2_name,Boxoffice,genres,actor_1_name,actor_3_name,language,country,year
0,James Cameron,178.0,Joel David Moore,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Wes Studi,English,USA,2009.0
1,Gore Verbinski,169.0,Orlando Bloom,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Jack Davenport,English,USA,2007.0
2,Sam Mendes,148.0,Rory Kinnear,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Stephanie Sigman,English,UK,2015.0
3,Christopher Nolan,164.0,Christian Bale,448130642.0,Action|Thriller,Tom Hardy,Joseph Gordon-Levitt,English,USA,2012.0
4,Doug Walker,NaN,Rob Walker,NaN,Documentary,Doug Walker,NaN,NaN,NaN,NaN

In [22]:
df2.genres.value_counts()

Drama                                         236
Comedy                                        209
Comedy|Drama                                  191
Comedy|Drama|Romance                          187
Comedy|Romance                                158
                                             ...
Crime|Drama|Mystery|Sci-Fi|Thriller             1
Adventure|Comedy|Crime|Drama                    1
Action|Crime|Drama|Mystery|Sci-Fi|Thriller      1
Action|Drama|Fantasy|Horror|Thriller            1
Comedy|Crime|Horror                             1
Name: genres, Length: 914, dtype: int64

In [23]:
# Lets create new features. For hollywood
genre1 = df2.genres.str.split('|').str[0]
genre2 = df2.genres.str.split('|').str[1]
genre3 = df2.genres.str.split('|').str[2]

In [24]:
print(f'genere1 :- \n {genre1}')
print(f'genere2 :- \n {genre2}')
print(f'genere3 :- \n {genre3}')

genere1 :-
 0            Action
1            Action
2            Action
3            Action
4       Documentary
           ...
5038         Comedy
5039          Crime
5040          Drama
5041         Comedy
5042    Documentary
Name: genres, Length: 5043, dtype: object
genere2 :-
 0       Adventure
1       Adventure
2       Adventure
3        Thriller
4             NaN
          ...
5038        Drama
5039        Drama
5040       Horror
5041        Drama
5042          NaN
Name: genres, Length: 5043, dtype: object
genere3 :-
 0        Fantasy
1        Fantasy
2       Thriller
3            NaN
4            NaN
          ...
5038         NaN
5039     Mystery
5040    Thriller
5041     Romance
5042         NaN
Name: genres, Length: 5043, dtype: object

In [25]:
df2['genere1'] = genre1
df2['genere2'] = genre2

In [26]:
df2.head()

,Director,duration,actor_2_name,Boxoffice,genres,actor_1_name,actor_3_name,language,country,year,genere1,genere2
0,James Cameron,178.0,Joel David Moore,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Wes Studi,English,USA,2009.0,Action,Adventure
1,Gore Verbinski,169.0,Orlando Bloom,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Jack Davenport,English,USA,2007.0,Action,Adventure
2,Sam Mendes,148.0,Rory Kinnear,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Stephanie Sigman,English,UK,2015.0,Action,Adventure
3,Christopher Nolan,164.0,Christian Bale,448130642.0,Action|Thriller,Tom Hardy,Joseph Gordon-Levitt,English,USA,2012.0,Action,Thriller
4,Doug Walker,NaN,Rob Walker,NaN,Documentary,Doug Walker,NaN,NaN,NaN,NaN,Documentary,NaN

In [27]:
# Lets create new features. For Bollywood
genre1 = df1.genres.str.split(',').str[0]
genre2 = df1.genres.str.split(',').str[1]
genre3 = df1.genres.str.split(',').str[2]

In [28]:
df1['genere1'] = genre1
df1['genere2'] = genre2

In [29]:
# Lets create new features. For Hollywoood and Bollywood
actor_1_name= df1.actors.str.split(',').str[0]
actor_2_name = df1.actors.str.split(',').str[1]
actor_3_name = df1.actors.str.split(',').str[2]
df1['actor_1_name'] = actor_1_name
df1['actor_2_name'] = actor_2_name
df1['actor_3_name'] = actor_3_name

In [32]:
#dropping other unecessary features.
df1.drop(['genres','release_day','release_month','banner','actors'], axis = 1, inplace = True)
df2.drop(['genres'], axis = 1, inplace = True)

KeyError: "['genres', 'release_day', 'release_month', 'banner', 'actors'] not found in axis"

In [33]:
df1.head()

,Boxoffice,Director,year,duration,genere1,genere2,actor_1_name,actor_2_name,actor_3_name
0,13.50,Homi Adajania,2020,145,Drama,Comedy,Irrfan Khan,Radhika Madan,Kareena Kapoor
1,137.00,Ahmed Khan,2020,147,Action,NaN,Tiger Shroff,Shraddha Kapoor,Riteish Deshmukh
2,44.50,Anubhav Sinha,2020,142,Drama,Social,Taapsee Pannu,Pavail Gulati,Dia Mirza
3,86.39,Hitesh Kewalya,2020,120,Comedy,Romance,Ayushman Khurana,Jitendra Kumar,Gajraj Rao
4,40.94,Bhanu Pratap Singh,2020,117,Horror,NaN,Vicky Kaushal,Bhumi Pednekar,Ashutosh Rana

In [35]:
df2.drop('genres', axis = 1, inplace = True)

In [36]:
df2.head()

,Director,duration,actor_2_name,Boxoffice,actor_1_name,actor_3_name,language,country,year,genere1,genere2
0,James Cameron,178.0,Joel David Moore,760505847.0,CCH Pounder,Wes Studi,English,USA,2009.0,Action,Adventure
1,Gore Verbinski,169.0,Orlando Bloom,309404152.0,Johnny Depp,Jack Davenport,English,USA,2007.0,Action,Adventure
2,Sam Mendes,148.0,Rory Kinnear,200074175.0,Christoph Waltz,Stephanie Sigman,English,UK,2015.0,Action,Adventure
3,Christopher Nolan,164.0,Christian Bale,448130642.0,Tom Hardy,Joseph Gordon-Levitt,English,USA,2012.0,Action,Thriller
4,Doug Walker,NaN,Rob Walker,NaN,Doug Walker,NaN,NaN,NaN,NaN,Documentary,NaN

# Lets create new features

In [38]:
df2.head() # As you can see we have features like country and language which are not present in our bollywood dataset we will add that

,Director,duration,actor_2_name,Boxoffice,actor_1_name,actor_3_name,language,country,year,genere1,genere2
0,James Cameron,178.0,Joel David Moore,760505847.0,CCH Pounder,Wes Studi,English,USA,2009.0,Action,Adventure
1,Gore Verbinski,169.0,Orlando Bloom,309404152.0,Johnny Depp,Jack Davenport,English,USA,2007.0,Action,Adventure
2,Sam Mendes,148.0,Rory Kinnear,200074175.0,Christoph Waltz,Stephanie Sigman,English,UK,2015.0,Action,Adventure
3,Christopher Nolan,164.0,Christian Bale,448130642.0,Tom Hardy,Joseph Gordon-Levitt,English,USA,2012.0,Action,Thriller
4,Doug Walker,NaN,Rob Walker,NaN,Doug Walker,NaN,NaN,NaN,NaN,Documentary,NaN

In [39]:
df1['country'] = 'IN'
df1['language'] = 'Hindi'